.FieldList {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    position:absolute;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .FieldList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .CloseLeftBar button{
    margin: 22px;
    height: 56px;
    width: 100px;
    font-weight: bold;
  }
  
  .FieldList li {
    padding: 8px;
    font-size: 16px;
  }
  
  .FieldList li:hover {
    background-color: #7ed8c3;
  }

  .inputBlock{
    width: 100%;
  }

  .inputBlock label{
    display: flex;
  }

  .inputBlock button{
    margin: 5px;
  }

  .inputBlock input{
    margin:  5px;
  }
