.RowList{
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.RowItem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #7ed8c3;
    font-size: 16px;
    min-height: 90px;
    margin-top: 8px;
    width: 97.7%;
    overflow-y: hidden;
    overflow-x: scroll;
}
.InputParameters{
    display: flex;
    flex-direction: column;
}
.InputParameters input{
    margin-left: 10px;
    margin-top: 10px;
}

.RowInfo{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.RowInfo strong{
    margin-top: 6px;
    margin-left: 10px;
}

.row li {
    display: flex;
    margin-top: 35px;
    margin-left: 5px;
}

.RowName {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}
button {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
