.SeedList {
    display: flex;
    flex-direction: row;
}

.SeedList ul{
    display: flex;
}

.SeedList li {
    display: flex;
}

.CategoriesList{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.SeedInfo{
    display: flex;
    flex-direction: column;
}

.SeedInfo{
    display: flex;
    flex-direction: column;
}
.SeedInfo strong{
    margin-top: 4px;
    margin-left: 10px;
}

.Level1 li{
    display: flex;
    flex-direction: column;

}

.Level2 li{
    display: flex;
    flex-direction: column;
    
}

.Level3{
    display: flex;
    flex-direction: column;
    
}